{{ form_start(form) }}

<div class="mb-3">
    {{ form_label(form.numero) }}
    {{ form_widget(form.numero, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="mb-3">
    {{ form_label(form.type) }}
    {{ form_widget(form.type, {'attr': {'class': 'form-select'}}) }}
</div>

<div class="mb-3">
    {{ form_label(form.prix) }}
    {{ form_widget(form.prix, {'attr': {'class': 'form-control'}}) }}
</div>

<div class="mb-3">
    {{ form_label(form.statut) }}
    {{ form_widget(form.statut, {'attr': {'class': 'form-select'}}) }}
</div>

<div class="mb-3">
    {{ form_label(form.photos) }}
    {{ form_widget(form.photos, {'attr': {'class': 'form-control'}}) }}
</div>

<button class="btn btn-success">{{ button_label|default('Valider') }}</button>

{{ form_end(form) }}